/* Default Button */

//Colors scheme
$color-default: #d5d5d5;
$color-black: #000;
$color-blue: #3498db;
$color-brown: #795548;
$color-green: #2ecc71;
$color-orange: #e67e22;
$color-purple: #8e44ad;
$color-red: #e74c3c;
$color-white: #fff; 

.btn {
	appearance: none;
	outline: none;
 	display: inline-block;
 	font-size: 1rem;
 	font-family: inherit;
 	line-height: inherit;
 	text-align: center;
 	text-transform: none;
 	padding: 0.5em 1em;
 	margin: 0;
 	border: 0.06em solid $color-default;
 	cursor: pointer;
 	transition: all .2s linear;
	

	&:enabled:hover {
 		background-color: $color-white;
 		color: $color-black;
 		border: 0.06em solid $color-black;
 	}

    &[hidden] {
    	display: none;
	}

}

/* Default Button disabled */
 
button[disabled=disabled], button:disabled, btn--disabled {
 	cursor: not-allowed;
 	box-shadow: none;
 	opacity: .65;
}

 
/***** SIZES *****/


.btn {
	
	&-small {
    	font-size: 0.8rem;
 		padding: 0.250em 0.438em;
	}
 
	&-medium {
 		font-size: 1.1rem;
 		padding: 0.375em 0.750em;
	}
 
	&-large {
 		font-size: 1.4rem;
 		padding: 0.615em 1.063em;
	}
	
	&-jumbo {
		font-size: 1.7rem;
		padding: 0.938em 1.37em;
	}


}
 



 
/***** COLORS *****/
 
/* Green */
.btn-green {
 	background-color: $color-green;
 	color: $color-white;

 	&:hover {
 		color: $color-green;
 		border-color: $color-green;
 		background-color: transparent;
 	}

	&:enabled:hover {
 		color: $color-green;
 		border-color: $color-green;
 	}	
}
 

/* Blue */
.btn-blue {
 	background-color: $color-blue;
 	color: $color-white;

	&:hover {
 		color: $color-blue;
 		border-color: $color-blue;
 		background-color: transparent;
	}

	&:enabled:hover {
 		color: $color-blue;
 		border-color: $color-blue;
 	}
 }
 
 
 /* red */
 .btn-red {
 	background-color: $color-red;
 	color: $color-white;
 
 	&:hover {
 		color:$color-red;
 		border-color: $color-red;
 		background-color: transparent;
 	}

 	&:enabled:hover {
 		color:$color-red;
 		border-color: $color-red;
 	}
 }

 /* Black */
.btn-black {
	background-color: $color-black;
	color: $color-white;

	&:hover {
		color: $color-black;
		border-color: $color-black;
		background-color: transparent;
	}
	&:enabled:hover {
		color: $color-black;
		border-color: $color-black;
	}
}

/* Orange */
.btn-orange {
	background-color: $color-orange;
	color: $color-white;

	&:hover {
		color: $color-orange;
		border-color: $color-orange;
		background-color: transparent;
	}

	&:enabled:hover {
		color: $color-orange;
		border-color: $color-orange;
	}
}	


/* Brown */
.btn-brown {
	background-color: $color-brown;
	color: $color-white;

	&:hover {
		color: $color-brown;
		border-color: $color-brown;
		background-color: transparent;
	}
	
	&:enabled:hover {
		color: $color-brown;
		border-color: $color-brown;
	}
}
/* Purple */
.btn-purple {
	background-color: $color-purple;
	color: $color-white;

	&:hover {
		color: $color-purple;
		border-color: $color-purple;
		background-color: transparent;
	}
	
	&:enabled:hover {
		color: $color-purple;
		border-color: $color-purple;
	}
} 

 
/* Submit Button */
.btn-submit {
 	white-space: nowrap;
 	padding: 0.5em 1em 0.5em 1.5em;
	
	&:before {
	 	content: "\2714";
	 	float: left;
	   	width: 1em;
	   	text-align: center;
	   	font-size: 1em;
	   	margin: 0 0.02em 0 -0.8em;
	   	padding: 0 .2em;
	   	pointer-events: none;
	}
}	

/* Round Button */
.btn-round {
	border-radius: 1em;
}

/* Radius Button */
.btn-radius {
	border-radius: 0.31em;
}

/* Circle Button */
.btn-circle {
	width: 6em;
	height: 6em;
	border-radius: 50%;
}

