//Colors scheme

$color-default: #d5d5d5;
$color-black: #000;
$color-blue: #3498db;
$color-brown: #795548;
$color-green: #2ecc71;
$color-orange: #e67e22;
$color-purple: #8e44ad;
$color-pink: #ffc0cb;
$color-red: #e74c3c;
$color-yellow: #f1c40f;
$color-white: #fff;
$color-white-cloud: #ecf0f1; 