.node {
	display: block;
	position: relative;
	width: 85%;
	height: auto;
	background-color: transparent;
	color: $color-black;
	padding: 1em;
	margin: 2em auto;
	border: 0.06em solid $color-default;
	overflow: hidden;

	//position 
	&-center {
		margin: 0 auto;
	}
	//colors
	&-blue {
		background-color: $color-blue;
		border: 0.06em solid $color-blue;
	}
	&-grey {
		background-color: $color-default;
	}
	&-pink {
		background-color: $color-pink;
		border: 0.06em solid $color-pink;
	}
	&-green {
		background-color:  $color-green;
		border: 0.06em solid $color-green;
	}
	&-yellow {
		background-color: $color-yellow;
		border: 0.06em solid $color-yellow;
	}	
}

//Fullscreen image
.background-node-img {
	position: absolute;
	z-index: -1;
	with: 100%;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

//Emulate a letter frame
.node-letter {
	position: relative;
	box-shadow: 0 8px 10px -6px $color-black;
	background: linear-gradient(-150deg, transparent 1.5em, $color-white-cloud 0);
	border-radius: .5em; 
	border: 0 none;

	&:before {
		content: '';
		position: absolute;
		top: 0; right: 0;
		width: 1.73em; height: 3em;
		background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4)) 100% 0 no-repeat;
		transform: translateY(-1.3em) rotate(-30deg);
		transform-origin: bottom right;
		border-bottom-left-radius: .5em;
		box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
	}
}

//Cut the corners of the node
.node-cutcorners {
	border: 0 none;
	background-color: $color-blue;
	clip-path: polygon(20px 0, calc(100% - 20px) 0, 100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 20px 100%, 0 calc(100% - 20px), 0 20px);
}	

//Transition effects between nodes
.node-fadein {
	animation: node-fadein .8s ease-out; 
}

@keyframes node-fadein {
	from {opacity: 0;}
	to {opacity: 1; }
}

.node-fadeout {
	animation: node-fadeout .8s ease-out; 
}

@keyframes node-fadeout {
	from {opacity: 1;}
	to {opacity: 0; }
}

.node-slide {
	animation: slide .8s ease-out;
}

@keyframes slide {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}