// default
.img {
	border: 0 none;
	outline: none;

	//position
	&-center {
		display: block;
		margin: 2em auto;
	}
	&-fullscreen {
		display: block;
		width: 100%;
		max-width: 100%;
		max-height: none;
		height: auto;
	}

	// shapes
	&-radius {
		border-radius: 0.31em;
	}
	&-round {
		border-radius: 1.5em;
	}
	&-circle {
		width: 15em;
		height: 15em;
		border-radius: 50%;
	}

	// borders
	&-normal-border {
		border: 0.31em solid #000;
	}
	&-double-border {
		border: 0.31em double #000;
	}

	// filter
	&-sepia {
		-webkit-filter: sepia(1);
  		filter: sepia(1);
	}
	&-grayscale {
		-webkit-filter: grayscale(1);
		filter: grayscale(1);
	}
}