.rollover {
		position: relative;
		cursor: pointer;

	&-overlay {
		position: absolute;
		top: 0;
  		bottom: 0;
  		left: 0;
  		right: 0;
		opacity: 0;
		cursor: pointer;
	}

	&-fadein {
		transition: .5s ease;
	}

	&-overlay:hover {
		opacity: 1;
	}
}
