*,*:before,*:after,ul,li,a,button,input,h1,h2,h3,h4,h5,h6,p,img,image,svg,path,g {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: transparent;
	border: none;
	text-decoration: none;
	font-family: inherit;
	user-select: none;
}
html {
    box-sizing: border-box;
    font-family: setfont(default);
    font-size: 16px;
    line-height: 24px;

    @include breakpoint-tablet {
        font-size: 14px;
        line-height: 22px;
    }
    @include breakpoint-desktop {
        font-size: 18px;
        line-height: 26px;
    }
}