.node {
	display: block;
	width: 85%;
	height: auto;
	background-color: #fff;
	color: #000;
	padding: 1em;
	margin: 2em auto;
	border: 0.06em solid #d5d5d5;

	//position 
	&--center {
		margin: 0 auto;
	}
	//colors
	&--blue {
		background-color: #3498db;
		border: 0.06em solid #3498db;
	}
	&--grey {
		background-color: #d5d5d5;
	}
	&--pink {
		background-color: #ffc0cb;
		border: 0.06em solid #ffc0cb;
	}
	&--green {
		background-color: #9be8bc;
		border: 0.06em solid #9be8bc;
	}
	&--yellow {
		background-color: #f1c40f;
		border: 0.06em solid #f1c40f;
	}	
}
